@font-face {
  font-family: 'Segoe UI';
  src: url('/fonts/segoeuithibd.ttf');
}

@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --font-segoe-ui: 'Segoe UI', sans-serif;
  --color-background: #feedbc;
  --color-foreground: #262626;
  --color-website-yellow: #f9b800;
}

@layer base {
  * {
    @apply m-0 p-0 box-border font-segoe-ui;
  }
}
